  <%= render "shared/navbar" %>

<div id="page-container-profile">

  <div class="search-bar">
    <%= form_with url: search_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your friends!" %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
    <% end %>
  </div>

  <div class="show-detail-container">
    <%= cl_image_tag @user.photo.key, class: "avatar" %>
    <%= @user.first_name + " " + @user.last_name %>
  </div>

  <div class="container text-center mb-5 pb-3">
    <h2 class="fs-3 text-2b3a67 fw-bold"><%= @user.first_name %>'s Top Artists</h2>
    <div>
      <% @top_artists.each do |artist| %>
        <div>
          <div style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= artist.image_url %>'); background-size: contain;">
            <p class="fs-3 py-5 text-white fw-bold"><%= artist.name %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# <div class="card m-2" style="width: 300px;">
  <div class="card-header">Top Genres</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Item 1</li>
    <li class="list-group-item">Item 2</li>
    <li class="list-group-item">Item 3</li>
    <li class="list-group-item">Item 4</li>
  </ul>
</div> %>
