<%= render "shared/navbar" %>
<div id="page-container-profile">
  <div class="search">
    <%= render "shared/search-bar", placeholder: "Find your friends!", path: search_path %>
  </div>
    <div class="text-center py-2 fs-1 fw-bold username-bootstrap">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "avatar avatar-show" %>
      <% else %>
        <%= image_tag "default_avatar.jpg", class: "avatar group-avatar" %>
      <% end %>
      <%= @user.first_name + " " + @user.last_name %>
    </div>
    <h1>
    </h1>
    <div class="container px-4">
      <h2 class="text-center mb-0 fw-bold fs-5 username-attending">
        Upcoming concerts
      </h2>
      <% if @user.groups.empty? && @user == current_user %>
        <ul class="profile-artist-cards">
          <li class="card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(''); background-size: cover">
            <h3 class="fs-10 fw-bold text-white text-center"> You're not going to anything yet!</h3>
          </li>
        </ul>
      <% elsif @user.groups.empty? %>
        <ul class="profile-artist-cards">
          <li class="card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(''); background-size: cover">
            <h3 class="fs-10 fw-bold text-white text-center"> <%= @user.first_name %> is not going to anything yet!</h3>
          </li>
        </ul>
      <% else %>
        <ul class="profile-artist-cards">
          <% @user.groups.each do |group| %>
            <li class="card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= group.concert.artist.image_url %>'); background-size: cover">
              <h3 class="fs-10 fw-bold text-white"><%= group.concert.artist.name %></h3>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="container px-4">
      <h2 class="text-center mb-0 fs-5 fw-bold username-attending">
        Favourite artists
      </h2>
      <ul class="profile-artist-cards">
        <% @top_artists.each do |artist| %>
          <li class="card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= artist.image_url %>'); background-size: cover">
            <h3 class="fs-10 fw-bold text-white"><%= artist.name %></h3>
          </li>
        <% end %>
      </ul>
    </div>
</div>
