<div id="page-container-groups-index">
  <div class="group-index">
    <% if @groups.count >= 1 %>
      <div class="show">
        <h1>These are the concerts you're attending!</h1>
      </div>
      <% @groups.each do |group| %>
        <%= link_to group_path(group) do %>
          <% concert = group.concert %>
          <div class="concert-card">
            <div class="img-grey" style="background-image: url(<%= concert.artist.image_url %>)"></div>
            <div class="img-gradient"></div>
            <div class="concert-info">
              <h2><strong><%= concert.artist.name %></strong></h2>
              <p><strong><%= concert.date.strftime("%A %e %B %Y") %></strong></p>
              <p><%= concert.venue %>, <%= concert.location %></p>
            </div>
            <div class="concert-avatars">
              <% group.users.without_me(current_user).first(5).each do |user|%>
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, class: "avatar group-avatar" %>
                <% else %>
                  <%= image_tag "default_avatar.jpg", class: "avatar group-avatar" %>
                <% end %>
              <% end %>
              <% if group.users.without_me(current_user).count > 5 %>
                <div class="avatar">
                  <%= group.users.without_me(current_user).count - 5 %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="show">
        <h1>You're not attending any concerts yet!</h1>
      </div>
      <div class="sad-duck"><%= image_tag "sad_duck.gif", class: 'sad-duck' %></div>
    <% end %>
  </div>
</div>
<%#  %>
