<div class="navbar-space"></div>
<%= render "shared/navbar" %>

<h1 id="group-new-h1"><%= @concert.artist.name %></h1>

<div class="friend-list">

  <div class="search">
    <%= form_with url: concerts_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Invite your mates!"
    %>
    <button name="button" type="submit" class="btn btn-flat">
      <img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/>
    </button>
    <% end %>
  </div>

  <div class="create-group">
    <%= simple_form_for [@concert, @group] do |f| %>
        <% @users.each do |user| %>
        <% next if user == current_user  %>
        <div class="friends-invite"> <div class="avatar-name d-flex align-items-center">
          <%= cl_image_tag user.photo.key, class: "avatar group-avatar" %>
          <p class="ms-2 mb-0"><%= user.first_name + " " + user.last_name %></p>
        </div>
        <%= check_box_tag 'user_ids[]', user.id %></div>
        <% end %>
      <%= f.submit "Make a group!", id: "group-btn" %>
    <% end %>
  </div>
</div>
