<div id="page-container">

  <h1 id="group-new-h1"><%= @concert.artist.name %></h1>
  <h3 class="groups-new-h3">At <%= @concert.venue %></h3>


  <div class="friend-list">


    <div class="search">
      <%= render "shared/search-bar", placeholder: "Choose who to invite!", path: new_concert_group_path %>
    </div>

    <div class="create-group">
      <%= simple_form_for [@concert, @group] do |f| %>
          <% @users.each do |user| %>
          <% next if user == current_user  %>
          <div class="friends-invite"> <div class="avatar-name d-flex align-items-center">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class: "avatar group-avatar" %>
            <% else %>
              <%= image_tag "default_avatar.jpg", class: "avatar group-avatar" %>
            <% end %>
            <p class="ms-2 mb-0">
              <% if user.last_name.present? %>
                <%= user.first_name + " " + user.last_name %>
              <% else %>
                <%= user.first_name %>
              <% end %>
            </p>
          </div>
          <label class="switch">
            <%= check_box_tag 'user_ids[]', user.id %>
            <span class="slider round"></span>
          </label>
          </div>
          <% end %>
        <%= f.submit "Make a group!", id: "group-btn" %>
      <% end %>
    </div>
  </div>

</div>
