<div id="page-container">

  <%= render "shared/navbar" %>

  Hello?
  <%= @concert %>
  <%= @group %>

  <div class="concert-card">
    <div class="concert-info">
      <h2><strong><%= @concert.artist.name %></strong></h2>
      <p><strong><%= @concert.date %></strong></p>
      <p><%= @concert.venue %>, <%= @concert.location %></p>
    </div>
  </div>

  <div class="friend-list">
  <!-- Friends go here! -->
  </div>

  <div class="chatbox">
    <%= render "chatrooms/chatbox", chatroom: @chatroom, message: @message, group: @group %>
  </div>

</div>
