<div class="invitation">
<h1>Hey <%= current_user.first_name %>! You've been invited to these concerts!</h1>
<% if @invitations.present? %>
<% @invitations.each do |invite| %>
  <% if invite.status == "pending" %>
  <% group = invite.group %>
    <%concert =  group.concert %>
    <div class="concert-card">
      <div class="concert-info">
        <h2><strong><%= concert.artist.name %></strong></h2>
          <p><strong><%= concert.date %></strong></p>
          <p><%= concert.venue %>, <%= concert.location %></p>
        </div>
        <div class="concert-avatars">
          <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/5426.png" class="avatar">
          <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/5426.png" class="avatar">
          <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/5426.png" class="avatar">
          <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/5426.png" class="avatar">
          <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/5426.png" class="avatar">
          <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/5426.png" class="avatar">
        </div>
      </div>
      <!-- invite.status -->
    <div class="status-buttons">
      <div class="btn-accept"><%= link_to "✔️", invitation_path(invite, status: 1), data: { turbo_method: :patch } %></div>
      <div class="btn-decline"><%= link_to "❌", invitation_path(invite, status: 2), data: { turbo_method: :patch } %></div>
    <% end %>
    </div>
  <% end %>
<% else %>
  <p>No invites D;</p>
<% end %>
</div>
