<div id="page-container-index">

  <h1 id="concert-index-h1">Upcoming concerts</h1>
  <h2 id="concert-index-h2">Invite your mates</h2>

  <div class="search">
    <%= render "shared/search-bar", placeholder: "Explore upcoming gigs", path: concerts_path %>
  </div>

  <% @concerts.each do |concert| %>
    <%= link_to concert_path(concert), class: "concert-a" do %>
      <div class="concert-card">
        <div class="img-grey" style="background-image: url(<%= concert.artist.image_url %>)"></div>
        <div class="img-gradient"></div>
        <div class="concert-info">
          <h2><strong><%= concert.artist.name %></strong></h2>
          <p><strong><%= concert.date.strftime("%A %e %B %Y") %></strong></p>
          <p><%= concert.venue %>, <%= concert.city %></p>
        </div>
        <div class="concert-avatars">

          <%= render "shared/index_avatars", concert: concert%>

        </div>
      </div>
    <% end %>
  <% end %>

  <div class="refresher">
    <div class="a-tag-center"><%= link_to "Check for new concerts!", fetch_concerts_concerts_path, data: {turbo_method: :patch} %></div>
    <p>This might take 60 - 90 seconds...</p>
    <p>Please do not refresh the page after clicking.</p>
  </div>

</div>
