<div id="page-container">

  <div class="search">
    <%= render "shared/search-bar" %>
  </div>

  <!-- AVATARS needs to be in Cloudinary-->
  <% @concerts.each do |concert| %>
    <%= link_to concert_path(concert), class: "concert-a" do %>
      <div class="concert-card">
        <div class="img-grey" style="background-image: url(<%= concert.artist.image_url %>)"></div>
        <div class="img-gradient"></div>
        <div class="concert-info">
          <h2><strong><%= concert.artist.name %></strong></h2>
          <p><strong><%= concert.date.strftime("%A %e %B %Y") %></strong></p>
          <p><%= concert.venue %>, <%= concert.city %></p>
        </div>
        <div class="concert-avatars">
          <% concert.users.without_me(current_user).first(5).each do |user|%>
            <%= cl_image_tag user.photo.key, class: "avatar" %>
            <%# <%= image_tag user.avatar, class: "avatar" %>
          <% end %>
          <% if concert.users.without_me(current_user).count > 5 %>
            <div class="avatar">
              + <%= concert.users.without_me(current_user).count - 5 %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
