<!DOCTYPE html>
<html>
  <head>
    <title>Musicmates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar" id="navbar-musicmates">
      <a class="navbar-brand" href="#">
      <img src="https://logopond.com/logos/c7f6e5d47c03813042ae572a1e8aa094.png" width="40" height="40" class="d-inline-block align-center" alt="">    MusicMates</a>
    </nav>
    <%= yield %>
  </body>
</html>
